<!DOCTYPE html>
<html>
    <head>
        <title>Requirements</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="public/css/table.css" />
</head>
<body>

<!-- Resize the screen for make it responsive! :) -->


<!-- Sidebar HTML -->
<div class="sidebar">
  <div class="profile">
    <span class="owner"><%= usInfo.name %> </span>
    <span class="roll"><%= usInfo.teamName %> </span>
  </div>
  <ul class="nav">
    <li class=active>
      <form action="/home" method="post">
        <button type="submit" class="abt">Home</button>
      </form>
    </li>
    <li class=active>

      <form action="/project" method="get">
        <input name="pid" value="<%= pIde %>" hidden>
        <button type="submit" class="abt">Project Details</button>
      </form>

    </li>
    <li class="active">

      <form action="/requirement" method="get">
        <input name="pid" value="<%= pIde %>" hidden>
        <button type="submit" class="abt">Requirements</button>
      </form>
      
    </li>

    <li class="active">

      <form action="/monitor" method="get">
        <input name="pid" value="<%= pIde %>" hidden>
        <button type="submit" class="abt">Monitoring</button>
      </form>

    </li>

    <li class="active">

      <form action="/status" method="get">
        <input name="pid" value="<%= pIde %>" hidden>
        <button type="submit" class="abt">Project Status</button>
      </form>

    </li>

    <li class="btmn">

      <form action="/logout" method="post">
        <button type="submit" class="btt">Logout</button>
      </form>

    </li>

  </ul>

</div>

<button class="toggle-button">
  <i class="fa fa-bars"></i>
  <i class="fa fa-arrows-alt"></i>
</button>

<!-- Usual html, responsive -->
<article>
  <div class="container">
   

    <form action="/addreq" method="post" class="reqform">
      <fieldset id="fieldset-sign-up">
        <legend>Add Requirement</legend>
        <label>
          Requirement
          <input type="text" 
                 name="reqttl"
                 required>
        </label>
        <label>
          Assigned to
          <select name="asgne">
            <option value="">Member:</option>
            <% mbrInfo.forEach(function(items) { %>
            <option value="<%= items.member %>"><%= items.member %></option>
            <% }) %>
          </select>
        </label>

        <label>
          Description
          <input type="text"
                 name="reqdsc" 
                 required>
        </label>
        
       
        <input name="pid" value="<%= pIde %>" hidden>
        <button type="submit" onchange="this.form.submit()" class="next">Add</button>
       

        
      
      </fieldset>
      
    </form>
  
    <div style="overflow-x: auto;">

      <% reqInfo.forEach(function(item) { %>


      <table>
        
        <tr>
          <th>Requirement</th>
          <th>Assigned to</th>
          <th>Status</th>
          <th>Action</th>
        </tr>

        <tr>
          
          <td>
            <%= item.funcreq %> 
          </td>

          <td>
            <form action="/mbrchange" method="post">
            <select name="asgnch" id="">
              <option value="<%= item.assigne %>"><%= item.assigne %></option>
              <% mbrInfoz.forEach(function(itemz) { %>
                <option value="<%= itemz.member %>"><%= itemz.member %></option>
              <% }) %>
            </select>

            
              <input name="pid" value="<%= pIde %>" hidden>
              <button type="submit" name="cgmbr" value="<%= item._id %>" class="btnchs" onchange="this.form.submit()">Change</button>
            </form>

            
          
          </td>

          <td>
            <form action="/rqstchange" method="post">
            <select name="reqst" id="">
              <option value="<%= item.progress %>"><%= item.progress %></option>
              <option value="Done">Done</option>
              <option value="In-Progress">In-Progress</option>
            </select>

            <input name="pid" value="<%= pIde %>" hidden>
            <button type="submit" name="cgst" value="<%= item._id %>" class="btnch" onchange="this.form.submit()">Change</button>
         
          </form>

          </td>


          <td>

            <form action="/reqremove" method="post">
              <input name="pid" value="<%= pIde %>" hidden>
              <input name="reqrv" value="<%= item._id %>" hidden>
              <button type="submit" class="btnRmv" onchange="this.form.submit()">Remove</button>
            </form>


          </td>
          
        </tr>
        
      </table>
      <p></p>
      <table>
        


        
        <tr>
          
          <td>
            Description: <%= item.details %>
          </td>

          
        </tr>
      </table>
      <hr>
      <% }) %>
    </div>
  </div>
  
</article>

  




  <script>
    $(".toggle-button").on("click", function(){
      $(".sidebar").toggleClass("active")
      if ($(".sidebar").hasClass("active"))
        {
          $("body").addClass("non-margin")
        } else {
          $("body").removeClass("non-margin")
        }
    })




  </script>

    </body>
</html>


