<!DOCTYPE html>
<html>
    <head>
        <title>Requirements</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/about.css" />
</head>
<body>



    <div class="about-section">
        <h1>About Us</h1>
        <p>We have created a project management software for collaboration between the team members.</p>
        <p>Users can create an account using their unique Team/Organization/Company key ID.</p>
      </div>
      
      <h2 style="text-align:center">Our Team</h2>
      <br>
      <div class="row">
        <div class="column">
          <div class="card">
            <div class="container">
              <h2>Reza Ebrahimi</h2>
              <p class="title">Group1 Member</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>
      
        <div class="column">
            <div class="card">
              <div class="container">
                <h2>MD Jobair</h2>
                <p class="title">Group1 Member</p>
                <p><button class="button">Contact</button></p>
              </div>
            </div>
          </div>
        
          <div class="column">
            <div class="card">
              <div class="container">
                <h2>Hannah Burke</h2>
                <p class="title">Group1 Member</p>
                <p><button class="button">Contact</button></p>
              </div>
            </div>
          </div>

          <div class="column">
            <div class="card">
              <div class="container">
                <h2>Manikumar Gouni</h2>
                <p class="title">Group1 Member</p>
                <p><button class="button">Contact</button></p>
              </div>
            </div>
          </div>

          <div class="column">
            <div class="card">
              <div class="container">
                <h2>Oluwaseyi Falaiye</h2>
                <p class="title">Group1 Member</p>
                <p><button class="button">Contact</button></p>
              </div>
            </div>
          </div>

          <div class="column">
            <div class="card">
              <div class="container">
                <h2>Leul Endashaw</h2>
                <p class="title">Group1 Member</p>
                <p><button class="button">Contact</button></p>
              </div>
            </div>
          </div>

      </div>


  




    </body>
</html>


